@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url("/img/livro3.jpg");
    background-size:cover;
}

nav{
    display: flex;
    justify-content:space-evenly;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: burlywood;
    box-shadow: 0px 0px 0px 3px white;
}

nav > a{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color:black;
    text-shadow: 0px 0px 20px black;
}

nav > a:hover{
    /* background-color: brown;
    color:white; */
    background-color: black;
    color:burlywood;
}


main{
    margin: 6%;
    height: 100%;
    width: 80%;
}


main > p {
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
}

main> input{
    width: 50%;
    border-radius: 10px;
    height: 5%;
}

main > button{
    margin-left: 20px;
    border-radius: 10px;
    font-weight: bold;
    padding: 1%;

}

div#usuarios{
    display:flex;
    margin-top:20px;
    margin-right: 10%;
}

div#admins, div#banidos{
    background-color:blueviolet;
    padding: 10px;
    border-radius: 2%;
    margin: 10px;
}

div#admins > h1, div#banidos > h1{
   color:white;
}

.usuario, .admin, .banned{
    background-color:brown;
    color:white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}


.usuario > button{
    padding: 1%;
    width: 25%;
    margin: 2%;
    border-radius: 10%;

}

